.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

/*  Column Component  */
.Column {
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
}

/*   SpeechBar  Component  */
#speechBar {
  min-height: 80px;
  border-bottom: 1px solid red;
  margin-bottom: 5px;
}

.MessageWindow {
  border: solid;
  color: black;
  height: 80px;
  min-width: 50%;
  float: left;
}

.MessageWindow .Word { /* word component inside of the message window */
  margin: auto;
  width: 50px;
  border: none;
  color: #3a33d1;
  float: left;
}

/*   Word  Component  */
.Word {
  margin: auto;
  width: 100px;
  border: solid;
  color: blueviolet;
}

.Word img {
  max-width: 100%;
  height: auto;
}
