/*   SpeechBar  Component  */

#speechBar {
  min-height: 80px;
  margin-bottom: 5px;
  background-color: #1c4962;
  padding: 10px;
}

#playButton, #backspaceButton, #clearButton, #settingsButton{
  min-height: 80px;
  min-width: 5%;
  font-size:1.7em;
}

#settingsButton{
  float: right;
}

.MessageWindow {
  border: 1px solid black;
  background-color: white;
  min-height: 80px;
  min-width: 70%;
  float: left;
  margin-left:5px;
}

.MessageWindow .Word { /* word component inside of the message window */
  margin: auto;
  width: 50px;
  border: none;
  color: #3a33d1;
  float: left;
}
