/*   SpeechBar  Component  */

.SpeechBar {
  min-height: 80px;
  padding: 10px;
  margin-bottom: 0px;
}



.PlayButton, .BackspaceButton, .ClearButton, .SettingsButton{
  min-height: 80px;
  min-width: 5%;
  font-size:1.7em;
}

.SettingsButton{
  float: right;
}

.MessageWindow {
  min-height: 80px;
  min-width: 70%;
  float: left;
  margin-left: 5px;

}

/* word component inside of the message window */
.MessageWindow .Word {
  width: 60px;
  border: none;
  float: left;
  height: 90%;
}

.MessageWindow .WordSymbol{
  min-height: inherit;
}

.MessageWindow .Word img {
  max-width: 80%;
}

